footer
  .container.text-center
    p.pull-left © 2017 James Firth and Friends. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://www.themoviedb.org/') This product uses the TMDb API but is not endorsed or certified by TMDb.
      li
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
