.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/imgs/film-reel.png')#logo
        |&nbsp;D&amp;S Movie Club
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Home') ? 'active' : undefined)
          a(href='/') Home
        li.dropdown(class=(title == 'Movies') ? 'active' : undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Movies 
            span.caret
          ul.dropdown-menu
            li
              a(href='/movies/') Movies
            li
              a(href='/movies/submit') Submit Movie
        li(class=(title == 'Themes') ? 'active' : undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
            | Themes 
            span.caret
          ul.dropdown-menu
            li
              a(href='/themes/') Themes
            li
              a(href='/themes/submit') Submit Theme
        li(class=(title == 'Attributions') ? 'active' : undefined)
          a(href='/attributions') Attributions
        li
          a(href='/status') Status
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li.divider
              li
                a(href='/logout') Logout
