extends layout

block content
  .page-header
    h3 Attributions

    ul
      li 
        span
          | Film Reel Icon made by 
          a(href='http://www.freepik.com', title='Freepik') Freepik
          |  from 
          a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
          |  is licensed by 
          a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0', target='_blank') CC 3.0 BY
      li
        a(href='https://www.themoviedb.org/') This product uses the TMDb API but is not endorsed or certified by TMDb.
        img(src='/imgs/tmdb.svg' alt='powered by the movie database')#tmdb-logo
