<h2>About DAS Movie Club</h2>
<p>We vote about once a week, one week on the theme, the following week on a movie that fits the theme</p>

<h2>Goals of DAS Movie Club:</h2>
<ul>
  <li>Educate ourselves and others about film</li>
  <li>See movies we've been meaning to see</li>
  <li>See movies we wouldn't have seen otherwise</li>
  <li>Have some snacks and drinks</li>
  <li>Have fun watching movies</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-paint-brush fa-lg main-list-item-icon"></span>
    This week's theme: Short Films
    <!-- This week's theme: <a target="_blank" href="#ADDLINK">VOTE NOW</a> -->
  </li>
  <li class="main-list-item">
    <span class="fa fa-film fa-lg main-list-item-icon"></span>
    This week's film: Multiple films
  </li>
  <li class="main-list-item">
    <span class="fa fa-inbox fa-lg main-list-item-icon"></span>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSckPuFVqrJrTDt7YvPX4UzUH0aruxj8JbkC2YUpa6rjlOHKSA/viewform">Theme Suggestion Box</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-lightbulb-o fa-lg main-list-item-icon"></span>
    <a href="https://docs.google.com/spreadsheets/d/1AGNSjUgjYv37JCbiZrgfLT0tJ0m-Y7ysY-iufzT2a2Y/pubhtml">Themes Ideas Thus Far</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-archive fa-lg main-list-item-icon"></span>
    <a href="https://drive.google.com/open?id=0Bwe9mtdZ7AWXYXZZQkxNNWpUTG8">Presentation Archive</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-calendar fa-lg main-list-item-icon"></span>
    <a href="https://calendar.google.com/calendar/embed?src=3mp7vds36mmi0nldev3kstr3ic%40group.calendar.google.com&ctz=America/Winnipeg">Events Calendar</a>
  </li>
<!--   <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <span>Film Reel Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></span>
  </li> -->
</ul>

<hr />

<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23ffffcc&amp;src=3mp7vds36mmi0nldev3kstr3ic%40group.calendar.google.com&amp;color=%23691426&amp;ctz=America%2FWinnipeg" style="border-width:0" height="400" frameborder="0" scrolling="no"></iframe>

<hr />

<ul class="fa-ul main-list">
  <li class="">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <span>Film Reel Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></span>
  </li>
  <li class="">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <span><a href="https://github.com/excentris/compass/">Compass Jekyll theme</a> by excentris</span>
  </li>
</ul>
